<html lang='es'>
  <head>
    {{>head}}
     <script src="../indexProd.js"></script>
  </head>
  <body>
    {{>navbar}}
    {{!-- {{>navbar}} --}}
    <br>
<div class="container">
  
  <div class="row">
    <div class="col-sm">
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <div class="card mt-4 shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 0px !important; height: 67vh">

      <h2 style="text-align: center;">Carga productos</h2>

      {{> form}}

    </div>
    </div>
    </div>
    </div>
    <div class="col-sm">
                      <div class="row justify-content-md-center">
              <div class="col-md-12">
                <div class="card mt-4 shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 0px !important; height: 67vh">

        <div class="row justify-content-center" id="tablaProductos" style="margin-bottom: 0%">
    <div class="col-auto">
  <table class="table align-content-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
            {{#if products}}
        {{#each products}}
        <tr>
          <td>{{this._id}} </th>
          <td>{{this.name}} </td>
          <td>${{this.price}} </td>
          <td><img src="{{this.thumbnail}}" class="product-img"/>
          </td><td class="trash"><i class="fa-solid fa-trash" onclick="eliminar('{{this._id}}')"></i></td>
        </tr>
        {{/each}}
      {{else}}
      </tbody>
      </table>
        Sin productos
      {{/if}}
  
  </div>
  </div>
  </div>
  </div>
  </div>

</tbody>
</table>
<br>
<br>
<br>
     


    </div>
  </div>
</div>

   

  </body>
   {{> footer}}
</html>
