<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    {{!-- {{>navbar}} --}}
    <br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Subir productos</h1>

      {{> form}}

    </div>
    <div class="col-sm">
        <div class="row justify-content-center" id="tablaProductos" style="margin-bottom: 20%">
    <div class="col-auto">
  <table class="table align-content-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
            {{#if products}}
        {{#each products}}
        <tr>
          <td>{{this._id}} </th>
          <td>{{this.name}} </td>
          <td>${{this.price}} </td>
          <td><img src="{{this.thumbnail}}" class="product-img"/>
          </td><td class="trash"><i class="fa-solid fa-trash" onclick="eliminar('{{this._id}}')"></i></td>
        </tr>
        {{/each}}
      {{else}}
      </tbody>
      </table>
        Sin productos
      {{/if}}
  
  </div>
  </div>

</tbody>
</table>
<br>
<br>
<br>
     


    </div>
  </div>
</div>

    <script src="../index.js"></script>

  </body>
   {{> footer}}
</html>
